@model IEnumerable<Reperto.Models.Song>

@{
    ViewData["Title"] = "Index";
}

<h1>Songs</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Band)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lyrics)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mood)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Repertoire)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Band)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lyrics)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mood)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Repertoire.RepertoireId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SongId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SongId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SongId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
